<style>
  .footer {
    display: grid;
    justify-content: center;
    text-align: center;
    background-image: url("../img/bg_footer.svg");
    background-size: 100% 100%;
  }

  .footer .footer-content {
    width: 80vw;
    max-width: 600px;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .footer .footer-content h2 {
    font-size: 2em;
  }

  @media (min-width: 700px) {
    .footer .footer-content h2 {
      font-size: 2.5em;
    }
  }

  .footer .footer-content hr {
    border-top: 4px solid var(--setal-gold-color);
    width: 50px;
    margin-top: -10px;
  }

  .footer .footer-content p {
    margin-top: 30px;
  }

  .footer .footer-content .contact-buttons {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  @media (max-width: 600px) {
    .footer .footer-content .contact-buttons {
      grid-template-columns: 1fr;
    }
  }

  .footer .footer-content .contact-buttons a {
    background-color: var(--button-color);
    color: white;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.20);
    border-radius: 8px;

  }

  .footer .footer-content .contact-buttons a span {
    fill: white;
    float: left;
    width: 20px;
    height: 20px;
  }
</style>

<section class="footer">
  <div class="footer-content">
    <h2>Kontaktieren Sie uns</h2>
    <hr>
    <p>Wir freuen uns über jede Anfrage und rufen Sie auch gerne zurück.</p>
    <div class="contact-buttons">
      <a href="https://wa.me/{{ .Site.Data.meta.phone_mobile }}">
        <span>{{ partial "svg/whatsapp.svg" . }}</span>
        Whatsapp</a>
      <a href="mailto:{{ .Site.Data.meta.mail }}">
        <span>{{ partial "svg/envelope.svg" . }}</span>
        E-Mail</a>
      <a href="tel:{{ .Site.Data.meta.phone_mobile }}">
        <span>{{ partial "svg/phone.svg" . }}</span>
        Telefon</a>
    </div>
  </div>

</section>