<style>
  .reference-nav {
    margin: auto;
    width: 90vw;
    margin-bottom: 5em;
    margin-top: 5em;
  }

  @media (min-width: 800px) {
    .reference-nav {
      width: var(--content-max-width);
    }
  }

  .references-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .references-grid .card {
    text-decoration: none;
    position: relative;
  }

  .references-grid img {
    width: 100%;
  }

  .references-grid .caption {
      display: none;
    }

  @media (min-width: 800px) {
    .references-grid .caption {
      display: block;
      position: absolute;
      background-color: var(--background-color);
      padding-left: 1em;
      padding-right: 1em;
      padding-bottom: 0.5em;
      bottom: 0em;
      left: 0em;
    }
  }

  .references-grid .caption h3 {
    color: var(--font-color);
    margin-top: 10px;
    margin-bottom: 2px;
  }

  .references-grid .caption .location {
    color: var(--font-color-secondary);
    margin-bottom: 5px;
  }
</style>

<section class="reference-nav">
  <h2>Weitere Referenzen</h2>
  <div class="references-grid">
    {{ $related := shuffle (.Site.RegularPages.Related .) | first 2 }}
    {{ with $related }}
    {{ range . }}
    {{ $mainImage := index (.Page.Resources.ByType "image") 0 }}
    {{ $thumb := $mainImage.Resize "400x400"}}
    <a class="card" href="{{.RelPermalink}}">
      <img src="{{$thumb.Permalink}}" alt="{{.Title}}">
      <div class="caption">
        <h3>{{.Title}}</h3>
        <div class="location">{{.Params.location}}</div>
      </div>
    </a>
    {{ end }}
    {{ end }}
  </div>
</section>