<style>
  .gallery {
    margin-bottom: var(--conent-side-margin);
    max-width: var(--content-max-width);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
  }

  .gallery img {
    width: 100%;
  }
  
  .content {
    margin-bottom: 3em;
    max-width: var(--content-max-width);
  }

  main header,
  main .content,
  main .gallery {
    margin-left: var(--conent-side-margin);
    margin-right: var(--conent-side-margin);
  }
</style>

<section class="gallery">
  {{ range .Page.Resources.ByType "image" }}
  {{ $thumb := .Resize "400x400"}}
  <img src="{{$thumb.Permalink}}" alt="" srcset="">
  {{end}}
</section>

<section class="content">
  {{.Content}}
</section>