<style>
/* == Logo == */

.logo {
  display: grid;
  justify-content: center;
  margin: 50px 20px 50px 20px;
  height: 100px;
}

.logo svg {
  width: 440px;
  max-width: 100%;
}

/* == Carousel == */

.carousel .background {
  background-image: url("../img/bg_gallery.svg");
  background-size: 100% 100%;
  height: 350px;
}

.carousel .slider {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding-left: 20px;
  height: 350px;
  align-items: center;
}

.carousel .slider::-webkit-scrollbar {
  display: none;
}

.carousel .slider figure {
  padding-right: 20px;
}

.carousel .slider figure img {
  border-radius: 20px;
}

/* == Lead == */

.lead {
  display: grid;
  justify-content: center;
}

.lead p {
  font-weight: 300;
  font-size: 1.3em;
  text-align: center;
  max-width: 600px;
  margin: 60px 40px 60px 40px;
}

</style>