<style>
  /* == Fixes == */

  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    background-image: url("../img/bg_header.svg");
    background-size: 100% 60vh;
    background-repeat: no-repeat;
  }

  figure {
    margin: 0;
  }

  /* == Colors == */

  :root {
    --font-color: #484848;
    --font-color-secondary: #7e7e7e;
    --setal-gold-color: #B6A16F;
    --link-color: #4CAF50;
    --button-color: #4CAF50;
    --button-hover-color: #45a049;
    --background-color: white;
    --conent-side-margin: 20px;
    --content-max-width: 600px;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --font-color: #484848;
      --font-color-secondary: #7e7e7e;
      --setal-gold-color: #B6A16F;
      --link-color: #4CAF50;
      --button-color: #4CAF50;
      --button-hover-color: #45a049;
      --background-color: white;
      --conent-side-margin: 20px;
      --content-max-width: 600px;
    }
  }

  /* == Main Styles == */

  body {
    font-family: 'Fira Sans', sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
    animation: fadein 0.5s;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  h2 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
  }

  a {
    color: var(--link-color);
  }

  /* == Fonts == */

  @font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Fira Sans Light'), local('FiraSans-Light'),
      url('/fonts/fira-sans-v10-latin-300.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/fonts/fira-sans-v10-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Fira Sans Regular'), local('FiraSans-Regular'),
      url('/fonts/fira-sans-v10-latin-regular.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/fonts/fira-sans-v10-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Fira Sans Bold'), local('FiraSans-Bold'),
      url('/fonts/fira-sans-v10-latin-700.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/fonts/fira-sans-v10-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
</style>