<style>
/* == Detail / Single Page == */

main {
  max-width: calc(var(--content-max-width) + var(--conent-side-margin) + var(--conent-side-margin));
  margin: auto;
  width: 100%;
}

main header {
  display: grid;
  grid-template-columns: 1fr 50px;
}

main header .title h1 {
  font-size: 2.3em;
  margin-bottom: 0px;
}

@media (min-width: 800px) {
  main header .title h1 {
    font-size: 3.3em;
  }
}

main header .title .location {
  color: var(--font-color-secondary);
  font-size: 1.3em;
  margin-bottom: 20px;
}

main header a.close {
  display: grid;
  justify-items: center;
  align-items: center;
}

main header a.close:before,
main header a.close:after {
  grid-column: 1/2;
  grid-row: 1/2;
  content: '';
  height: 33px;
  width: 4px;
  background-color: var(--font-color);
}

main header a.close:before {
  transform: rotate(45deg);
}

main header a.close:after {
  transform: rotate(-45deg);
}

.gallery {
  margin-bottom: var(--conent-side-margin);
  max-width: var(--content-max-width);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.gallery img {
  width: 100%;
}


.content {
  margin-bottom: var(--conent-side-margin);
  max-width: var(--content-max-width);
}

main header,
main .content,
main .gallery {
  margin-left: var(--conent-side-margin);
  margin-right: var(--conent-side-margin);
}

</style>