<!-- Optional meta tags -->
<title>{{.Title}}</title>
<meta name="description" content="{{.Site.Data.meta.description}}" />
<meta name="author" content="{{.Site.Data.meta.author}}" />
<meta name="publisher" content="{{.Site.Data.meta.author}}" />
<meta name="copyright" content="{{.Site.Data.meta.author}}" />
<meta itemprop="name" content="{{.Title}}" />
<meta itemprop="description" content="{{.Site.Data.meta.description}}" />
<meta name="keywords" content="{{.Site.Data.meta.keywords}}" />
<meta name="page-topic" content="{{.Site.Data.meta.pageTopic}}" />

<!-- Twitter tags -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{.Title}}" />
<meta
  name="twitter:description"
  content="{{.Site.Data.meta.description}}"
/>
<meta name="twitter:creator" content="{{.Site.Data.meta.author}}" />

<!-- Open Graph tags -->
<meta property="og:title" content="{{.Title}}" />
<meta property="og:site_name" content="{{.Site.Title}}" />
<meta
  property="og:image"
  content="{{.Site.Data.meta.logo}}"
/>
<meta property="og:type" content="website" />
<meta property="og:url" content="{{.Permalink}}" />
<meta property="og:description" content="{{.Site.Data.meta.description}}" />