



<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "HomeAndConstructionBusiness",
    "name": "{{ .Site.Data.meta.company }}",
    "image": "https://setalag.ch/img/setal-logo.jpg",
    "@id": "{{ .Site.BaseURL }}",
    "url": "{{ .Site.BaseURL }}",
    "telephone": "+41 76 584 16 73",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ .Site.Data.meta.address }}",
      "addressLocality": "{{ .Site.Data.meta.city }}",
      "postalCode": "{{ .Site.Data.meta.postalCode }}",
      "addressCountry": "CH"
    } 
  }
  </script>