<!-- Favicons -->
<link
  rel="icon"
  type="image/png"
  href="/img/favicon/favicon16w.png"
  sizes="16x16"
/>
<link
  rel="icon"
  type="image/png"
  href="/img/favicon/favicon32w.png"
  sizes="32x32"
/>
<link
  rel="icon"
  type="image/png"
  href="/img/favicon/favicon96w.png"
  sizes="96x96"
/>
<link rel="apple-touch-icon" href="/img/favicon/favicon120w.png" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/img/favicon/favicon180w.png"
/>
<link
  rel="apple-touch-icon"
  sizes="152x152"
  href="/img/favicon/favicon152w.png"
/>
<link
  rel="apple-touch-icon"
  sizes="167x167"
  href="/img/favicon/favicon167w.png"
/>
