<section class="footer">
  <div class="contact">
    <div>
      <h2>Kontakt</h2>
      <p>Bitte hinterlassen Sie uns eine Nachricht oder rufen Sie uns direkt an! Wir freuen uns über jede
        Anfrage und
        rufen auch gerne zurück.</p>
      <form name="contact" method="POST" data-netlify="true">
        <input type="text" placeholder="E-Mail oder Telefonnummer" name="name">
        <input type="submit" value="Senden">
      </form>
    </div>
    <div>
      <h2>Adresse</h2>
      <address>
        Setal AG</br>
        Nordstrasse 4</br>
        8620 Wetzikon</br>
        <a href="mailto:info@setalag.ch">info@setalag.ch</a></br>
        <a href="tel:+41765841673">+ 41 76 584 16 73</a></br>
        <a href="tel:+41442422244">+ 41 44 242 22 44</a></br>
      </address>
    </div>
  </div>
</section>