<style>
  /* ===============================
    Fixes
   =============================== */

  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
  }

  figure {
    margin: 0;
  }

  /* ===============================
    Colors
   =============================== */

  :root {
    --font-color: #484848;
    --font-color-secondary: #7e7e7e;
    --link-color: #4CAF50;
    --button-color: #4CAF50;
    --button-hover-color: #45a049;
    --background-color: white;
    --conent-side-margin: 40px;
    --content-max-width: 800px;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --font-color: #484848;
      --font-color-secondary: #7e7e7e;
      --link-color: #4CAF50;
      --button-color: #4CAF50;
      --button-hover-color: #45a049;
      --background-color: white;
      --conent-side-margin: 40px;
      --content-max-width: 800px;
    }
  }

  /* ===============================
    Main Styles
   =============================== */

  body {
    font-family: 'Fira Sans', sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
    animation: fadein 0.5s;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  h2 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
  }

  a {
    color: var(--link-color);
  }



  /* ===============================
    Logo
   =============================== */

  .logo {
    display: grid;
    justify-content: center;
    margin: var(--conent-side-margin) 20px var(--conent-side-margin) 20px;
    height: 100px;
  }

  .logo img {
    width: 440px;
    max-width: 100%;
  }

  /* ===============================
    Carousel
    =============================== */

  .carousel .background {
    background-image: url("../img/bg_gallery.svg");
    background-size: 100% 100%;
    height: 350px;
  }

  .carousel .slider {
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding-left: 20px;
    height: 350px;
    align-items: center;
  }

  .carousel .slider::-webkit-scrollbar {
    display: none;
  }

  .carousel .slider figure {
    padding-right: 20px;
  }

  .carousel .slider figure img {
    border-radius: 20px;
  }

  /* ===============================
   Lead
   =============================== */

  .lead {
    display: grid;
    justify-content: center;
  }

  .lead p {
    font-weight: 300;
    font-size: 1.3em;
    text-align: center;
    max-width: 600px;
    margin: 60px 40px 60px 40px;
  }

  /* ===============================
   Footer
   =============================== */

  .footer {
    display: grid;
    justify-content: center;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  }

  .contact {
    display: grid;
    grid-column-gap: 70px;
    grid-row-gap: 30px;
    margin: var(--conent-side-margin);
  }

  @media (min-width: 800px) {
    .contact {
      grid-template-columns: 3fr 1fr;
      max-width: var(--content-max-width);
    }
  }

  address {
    font-style: normal;
  }

  form {
    display: flex;
    max-width: 500px;
  }

  input {
    font-family: inherit;
    font-size: inherit;
    border: none;
    padding: 20px 20px;
    margin-bottom: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input[type=text],
  select {
    width: 70%;
    border-radius: 8px 0 0 8px;
    box-sizing: border-box;
    background-color: rgb(132, 150, 149), 238, 236);
  }

  input[type=submit] {
    width: 30%;
    max-width: 150px;
    background-color: var(--button-color);
    color: white;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: var(--button-hover-color);
  }



  /* ===============================
    Detail / Single Page
   =============================== 
*/

  main {
    display: grid;
    justify-content: center
  }

  .title h1 {
    font-size: 3.3em;
    margin-bottom: 0px;
    margin-left: var(--conent-side-margin);
    margin-right: var(--conent-side-margin);
    max-width: var(--content-max-width);
  }

  .title .location {
    color: var(--font-color-secondary);
    font-size: 1.3em;
    margin-left: var(--conent-side-margin);
    margin-right: var(--conent-side-margin);
    margin-bottom: 40px;
    max-width: var(--content-max-width);
  }

  .close-button {
    position: absolute;
    top: 40px;
    right: 60px;
  }

  .close-button a {
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .close-button a:before,
  .close-button a:after {
    grid-column: 1/2;
    grid-row: 1/2;
    content: '';
    height: 33px;
    width: 4px;
    background-color: var(--font-color);
  }

  .close-button a:before {
    transform: rotate(45deg);
  }

  .close-button a:after {
    transform: rotate(-45deg);
  }

  .gallery {
    margin-left: var(--conent-side-margin);
    margin-right: var(--conent-side-margin);
    margin-bottom: var(--conent-side-margin);
    max-width: var(--content-max-width);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
  }

  .gallery img {
    width: 100%;
  }


  .content {
    margin-left: var(--conent-side-margin);
    margin-right: var(--conent-side-margin);
    margin-bottom: var(--conent-side-margin);
    max-width: var(--content-max-width);
  }
</style>