<style>
  .gallery {
    margin: auto;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
  }

  @media (min-width: 800px) {
    .gallery {
      width: var(--content-max-width);
    }
  }

  .gallery img {
    width: 100%;
  }

  .content {
    margin-bottom: 3em;
  }
</style>

<section class="gallery">
  {{ range .Page.Resources.ByType "image" }}
  {{ $thumb := .Resize "400x400"}}
  <img src="{{$thumb.Permalink}}" alt="" srcset="">
  {{end}}
</section>

<section class="content">
  {{.Content}}
</section>