<style>
  .title-box {
    margin: auto;
    width: 90vw;
    margin-bottom: 4em;
  }

  @media (min-width: 800px) {
    .title-box {
      width: var(--content-max-width);
    }
  }

  .title-box .title h1 {
    font-size: 3.0em;
    margin-bottom: 0px;
  }

  @media (min-width: 800px) {
    .title-box .title h1 {
      font-size: 3.5em;
    }
  }

  .title-box .title .location {
    color: var(--font-color-secondary);
    font-size: 1.3em;
    margin-bottom: 20px;
  }
</style>

<section class="title-box">
  <div class="title">
    <h1>{{.Title}}</h1>
    <div class="location">{{.Params.location}}</div>
  </div>
</section>